*{
   
    font-family: 'Akshar', sans-serif;
    background-color: black;
   
}
.uno{
    
    color: white;
    padding: 20px;
 
    
}
.content{
    background: rgb(219, 33, 219);
  width: 1400px;
    height: 1300px;
    z-index: 1;
   
   

    font-family: 'Akshar', sans-serif;
    font-family: 'Indie Flower', cursive;

}
#img{
    background: rgb(219, 33, 219);
    position: relative;
    top: 30px;
    border-radius: 5px;
    margin: 10px;

    

}
#columna2{
    background: rgb(219, 33, 219);
    position: relative;
    left: 320px;
    top: 40px;
    border-radius: 5px;
    margin: 10px;
}
#columna3{
    background: rgb(219, 33, 219);
    position: relative;
    left: 620px;
    top: 40px;
    border-radius: 5px;
    margin: 10px;
}
.ver {
    
  
    background-color: #1b1718;
    color: white;
    display: inline-block;
    padding: 10px;
    width: 400px;
    transition: 0.2s;
    position: fixed;

    left: 980px;
    bottom: 480px;
    border-radius: 5px;
    min-width: 200px;
    text-decoration: none;
  
}
.ver:hover{
    background-color: rgb(235, 113, 235);
    position: fixed;
    left: 960px;
}
.ver2 {
    
  
    background-color: #1b1718;
    color: white;
    display: inline-block;
    padding: 10px;
    width: 400px;
    transition: 0.2s;
    position: fixed;

    left: 980px;
    bottom: 540px;
    border-radius: 5px;
    min-width: 200px;
    text-decoration: none;
  
}
.ver2:hover{
    background-color: rgb(235, 113, 235);
    position: fixed;
    left: 960px;
}
.ver3 {


    background-color: #1b1718;
    color: white;
    display: inline-block;
    padding: 10px;
    width: 400px;
    transition: 0.2s;
    position: fixed;

    left: 980px;
    bottom: 420px;
    border-radius: 5px;
    min-width: 200px;
    text-decoration: none;

}

.ver3:hover {

    background-color: rgb(235, 113, 235);
    position: fixed;
    left: 960px;
}